<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义命名空间 -->
<mapper namespace="com.yx.dao.UserMessageDao">

<!--    定义查询用户数据-->
    <select id="getAllUserData" resultType="com.yx.pojo.User">
        select * from user;
    </select>
</mapper>

